@{
    ViewBag.Title = "Contact Details";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Orion Business Innovation<br />
    Lulu Cyber Tower<br />
    Kakkanad<br />
    Kochi, Kerala, India.
</address>

